<launch>
    <arg name="topic_camera_info_sub"         default="/color/camera_info"/>
    <arg name="topic_color_image_sub"         default="/color/image_raw"/>
    <arg name="topic_depth_image_sub"         default="/depth/image_rect_raw"/>  
    <arg name="distance_field_detect"         value="1.7"/> 
    <arg name="distance_field_warning"        value="1.2"/> 
    <arg name="distance_field_dangerous"      value="0.7"/>

    <arg name="camera_left"                   default="/camera_left"/>
    <arg name="usb_port_id_left"              default="2-2"/>
    <arg name="top_image_left_resize"         value="238"/>
    <arg name="bottom_image_left_resize"      value="238"/>
    <arg name="left_image_left_resize"        value="200"/>
    <arg name="right_image_left_resize"       value="200"/>

    <arg name="camera_right"                  default="/camera_right"/>
    <arg name="usb_port_id_right"             default="2-4"/>
    <arg name="top_image_right_resize"        value="238"/>
    <arg name="bottom_image_right_resize"     value="238"/>
    <arg name="left_image_right_resize"       value="200"/>
    <arg name="right_image_right_resize"      value="200"/>


    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera"             value="$(arg camera_left)"/>
        <arg name="usb_port_id"        value="$(arg usb_port_id_left)"/>
    </include>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera"              value="$(arg camera_right)"/>
        <arg name="usb_port_id"         value="$(arg usb_port_id_right)"/>
    </include>

    <node name="detect_obstacle" pkg="convert_image" type="detect_obstacle.py" output="screen" ns="$(arg camera_left)">
        <param name="use_detect"                        value="true" />
        <param name="use_rotate_90_counter_clockwise"   value="true" />
        <param name="is_display_origin_color_image"     value="true" />
        <param name="is_display_origin_depth_image"     value="false" />
        <param name="is_display_resize_depth_image"     value="true" />
        <param name="camera"                            value="$(arg camera_left)" />
        <param name="topic_camera_info_sub"             value="$(arg topic_camera_info_sub)" />
        <param name="topic_color_image_sub"             value="$(arg topic_color_image_sub)" />
        <param name="topic_depth_image_sub"             value="$(arg topic_depth_image_sub)" />
        <param name="top_image_resize"                  value="$(arg top_image_left_resize)" />
        <param name="bottom_image_resize"               value="$(arg bottom_image_left_resize)" />
        <param name="left_image_resize"                 value="$(arg left_image_left_resize)" />
        <param name="right_image_resize"                value="$(arg right_image_left_resize)" />
        <param name="distance_field_detect"             value="$(arg distance_field_detect)" />
        <param name="distance_field_warning"            value="$(arg distance_field_warning)" />
        <param name="distance_field_dangerous"          value="$(arg distance_field_dangerous)" />
    </node>
    <!-- <node name="detect_obstacle" pkg="convert_image" type="detect_obstacle.py" output="screen" ns="$(arg camera_right)">
        <param name="use_detect"                        value="true" />
        <param name="use_rotate_90_counter_clockwise"   value="true" />
        <param name="is_display_origin_color_image"     value="true" />
        <param name="is_display_origin_depth_image"     value="false" />
        <param name="is_display_resize_depth_image"     value="true" />
        <param name="camera"                            value="$(arg camera_right)" />
        <param name="topic_camera_info_sub"             value="$(arg topic_camera_info_sub)" />
        <param name="topic_color_image_sub"             value="$(arg topic_color_image_sub)" />
        <param name="topic_depth_image_sub"             value="$(arg topic_depth_image_sub)" />
        <param name="top_image_resize"                  value="$(arg top_image_right_resize)" />
        <param name="bottom_image_resize"               value="$(arg bottom_image_right_resize)" />
        <param name="left_image_resize"                 value="$(arg left_image_right_resize)" />
        <param name="right_image_resize"                value="$(arg right_image_right_resize)" />
        <param name="distance_field_detect"             value="$(arg distance_field_detect)" />
        <param name="distance_field_warning"            value="$(arg distance_field_warning)" />
        <param name="distance_field_dangerous"          value="$(arg distance_field_dangerous)" />
    </node> -->


    <arg name="open_rviz" default="false"/>
    <group if="$(arg open_rviz)"> 
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find convert_image)/rviz/convert_image.rviz" required="true" />
    </group>
</launch>