<launch>
    <node name="distance" pkg="convert_image" type="distance.py" output="screen"></node>
    <node name="view" pkg="convert_image" type="view.py" output="screen"></node>

    <arg name="open_rviz" default="true"/>
    <group if="$(arg open_rviz)"> 
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find convert_image)/rviz/convert_image.rviz" required="true" />
    </group>
</launch>